:root {
    /* Colors */
    --primary-color: #83a598; /* Gruvbox Yellow */
    --secondary-color: #458588; /* Gruvbox Green */
    --background-color: #282828; /* Gruvbox Dark Background */
    --text-color: #ebdbb2; /* Gruvbox Light Text */
    --link-color: #bdae93; /* Gruvbox Neutral */

    /* Background Colors */
    --topbar-background: #3c3836; /* Gruvbox Dark Background */
    --sidebar-background: #3c3836; /* Gruvbox Dark Background */
    --canvas-background: #504945; /* Gruvbox Medium Background */

    /* Fonts */
    --main-font: 'Arial', sans-serif;

    /* Box Shadows */
    --box-shadow: 0 0 4px 0 #0002;

    /* Breakpoints */
    --mobile-width: 480px;
    --tablet-width: 768px;
    --desktop-width: 1024px;
}