body,
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-text-theme);
  height: 100%;
  margin: 0;
  user-select: none;
  overflow-y: hidden;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 10px;
}

a {
  color: unset;
  text-decoration: none;
}



.text-input {
  width: 100%;
  padding: 5px 0;
  color: var(--text-normal);
  border: none;
  border-bottom: 2px solid;
  background: transparent;
  font-size: 16px;
  transition: border-color 0.3s;
}

select:focus,
input:focus {
  outline: none;
}

.text-input:focus {
  border-color: var(--primary);
}

.text-button {
  padding: 10px 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.text-button:hover {
  background-color: var(--background-primary);

}

button {
  font-family: inherit;
  cursor: pointer;
}