.note-page{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

#note-title {
    margin-top: 20px;
    margin-left: 35px;
    height: 35px;
    font-size: 28px;
    max-width: 280px;
}

.canvas{
    height: 100%;
    width: 100%;
    position: relative;
}

.textarea {
    position: absolute;
    flex-direction: column;
    border: solid 1px transparent;
    border-top: solid 6px transparent;
}

.textarea>.drag-handle {
    width: auto;
    height: 10px;
    cursor: grab;
}

.textarea>.resize-and-input {
    display: flex;
    width: 100%;
}

div.textarea-input {
    order: 1;
    border: 1px solid transparent;
    padding: 8px;
    min-height: 50px;
    background-color: transparent;
    outline: none;
    overflow-wrap: break-word;
    word-break: break-all;
    width: 100%;
}

.resize-handle {
    order: 2;
    min-width: 20px;
    min-height: max-content;
    cursor: ew-resize;
}

.textarea.active  {
    border: solid 1px #c9c5c5b9;
    border-right: double 6px #c9c5c5b9;
    border-top: double 6px #c9c5c5b9;
}

.textarea-input:empty::before {
    content: "Type here...";
    line-height: 20px;
    color: #c9c5cc;
}

.textarea-input:empty {
    border: 1px solid transparent;
}