.topbar {
    background-color: var(--background-secondary);
    color: var(--text-normal);
    min-height: 85px;
    z-index: 3;
    box-shadow: var(--box-shadow);
    display: grid;
    border-bottom: 1px solid var(--dark1);
}

.topbar-header {
    display: flex;
    justify-content: space-between;
}

.topbar-header>.topbar-left>button {
    font-size: 14px;
    border-bottom: transparent solid 2px;
    color: var(--text-faint)
}

.topbar-header>.topbar-left>.selected {
    border-bottom: var(--primary) solid 2px;
    color: var(--primary);
}

.topbar-header>.topbar-right {
    padding-top: 10px;
    padding-right: 10px;
}

.topbar-header>.topbar-right>* {
    padding-left: 30px;
}

.topbar-content {
    display: flex;
    height: 100%;
}

.font-settings {
    display: flex;
    margin-left: 80px;
}

.font-settings>.input-section {
    display: flex;
    padding: 0 10px;
    height: 100%;
    align-items: center;
}

.font-settings>.input-section>input,
.font-settings>.input-section select.font-selector {
    border: solid var(--dark1) 1px;
    font-size: 14px;
    height: 25px;
    box-sizing: border-box;
    background-color: var(--background-primary);
    color: var(--text-faint);
}

.font-settings>.input-section select.font-selector {
    max-width: 150px;
}

.font-settings>.input-section input.font-size {
    max-width: 60px;
    border-left: none;
}

.font-settings>.action-section {
    display: flex;
}

.font-settings>.action-section button.icon-button {
    position: relative;
    color: var(--text-faint);
    background-color: transparent;
    border: transparent 0px;
    border-bottom: 1px solid transparent;
    height: 100%;
    width: 45px;
    cursor: pointer;
}

.font-settings>.action-section button.icon-button.active {
    color: var(--primary);
    border-bottom-color: var(--primary);
}

.font-settings>.action-section>button.icon-button:hover {
    background-color: var(--background-primary);
}

.font-settings>.action-section div.font-color-container button.icon-button {
    border: none;
}


.font-settings>.action-section div.font-color-container {
    display: flex;
    height: 100%;
}


.font-settings>.action-section div.font-color-container:hover {
   background-color: var(--background-primary);

}


.font-settings>.action-section div.font-color-buttons {
    display: flex;
    flex-direction: row;
}


.font-settings>.action-section div.font-color-container>div.font-color-buttons>button.icon-button div.color-preview {
    position: absolute;
    margin-left: 8px;
    margin-top: 22px;
    width: 15px;
    height: 4px;
    border: 1px solid var(--dark2);
}


.font-settings>.action-section div.font-color-buttons>button.icon-button:hover {
    background-color: var(--background-primary);
}



.font-settings>.action-section div.font-color-buttons>button.expand-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    background-color: transparent;
    color: var(--text-faint);
}

.font-settings>.action-section div.font-color-buttons>button.expand-button:hover {
    background-color: var(--background-primary);
}

.font-settings>.action-section div.color-picker-dialog {
    position: fixed;
    height: min-content;
    width: 365px;
    background-color: var(--background-secondary);
    border: solid 1px var(--dark1);
    border-top: solid 1px var(--dark0);
}

.color-picker-dialog>* {
    padding: 10px;
}

.color-picker-dialog>.header {
    display: flex;
    align-items: center;
    height: 20px;
    padding: 10px;
    border-bottom: 1px solid #0001;
    border-top: 1px solid #0001;
}

.color-picker-dialog>.header>p {
    font-weight: 500;
}

.color-picker-dialog>.theme-colors {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #0001;
}

.color-picker-dialog>.theme-colors>p,
.color-picker-dialog>.standard-colors>p {
    font-size: 14px;
    margin-bottom: 12px;
}

.color-picker-dialog>.standard-colors {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #0001;
}

.color-picker-dialog .color-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 3px;
}

.color-picker-dialog button.color {
    flex-basis: calc(10% - 3px);
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    border: 1px solid rgba(128, 128, 128, 0.521);
    border-radius: 50%;
    transition: 0.1s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.color-picker-dialog button.color:hover {
    transform: scale(1.1);
    border-color: black;

}